

<app-sidebar></app-sidebar>
<div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <ol class="breadcrumb fs-sm mb-1">
          <li class="breadcrumb-item"><a routerLink="/DetailsEmplyee/{{id}}">Affaire sociale</a></li>
          <li class="breadcrumb-item active" aria-current="page">Historique Affaire sociale</li>
        </ol>


      </div>

    </div>

    <nav class="nav nav-line mb-4">
        <a  class="nav-link active " > Information Sociale Historique </a>

        </nav>

    <div class="col-12"  >

          <br>

        <input type="text"  [(ngModel)]="searchTerm" placeholder="Search avec cin ...">
        <br><br>
        <table id="tableGrid2" class="table table-hover">
          <thead>
            <tr style="border: 20px; color: black;">
              <th> <span>Date Ajouter</span></th>
              <th> <span>Matricule Conjoint</span></th>
              <th>Prénom Conjoint</th>
              <th>Situation Familiale</th>
              <th>Chef de Famille</th>
              <th>Nombre d'enfants </th>
              <th>Nombre d'enfants imposables</th>
              <th>Exonéré</th>
              <th>Affiliation à la mutuelle</th>


              <th>Assurance d'Affiliation</th>
              <th>affiliation Regime</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ok of affaireSocialeData">
              <td> <span class="badge badge-pill bg-info"> {{ ok.affiliationLe}}</span></td>
              <td>{{ ok.matriculeConjoint }}</td>
              <td>{{ ok.prenomConjoint }}</td>
              <td>{{ ok.situationFamiliale }}</td>
              <td>{{ ok.chefDeFamille }}</td>
              <td>{{ ok.nbEnfants }}</td>
              <td>{{ ok.nbEnfantsImposables }}</td>
              <td>{{ ok.exonere }}</td>
              <td>{{ ok.affiliationMutuelle }}</td>
              <td>{{ ok.affiliationAssurance }}</td>
              <td>{{ ok.affiliationRegime }}</td>

            </tr>
          </tbody>
        </table>

          
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="itemsPerPage" (page)="currentPage = $event.pageIndex + 1"></mat-paginator> -->


      </div>

