<app-sidebar></app-sidebar>
<div class="main p-4 p-lg-5">
    <ol class="breadcrumb fs-sm mb-2">
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item"><a href="#">User Pages</a></li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol> <br>

     <nav class="nav nav-line mb-4">
        <a (click)="AStep()" class="nav-link " [ngClass]="{'active': step === 1}"> Information Personelle</a>
        <a (click)="BStep()" class="nav-link " [ngClass]="{'active': step === 2}"> Information administratives </a>
        <a (click)="CStep()" class="nav-link" [ngClass]="{'active': step === 3}">Information sociales </a>
        <a (click)="DStep()" class="nav-link"[ngClass]="{'active': step === 4}">Information Carriere</a>
        <a (click)="EStep()" class="nav-link"[ngClass]="{'active': step === 5}">Information financières </a>

      </nav>


    <div class="card card-settings"*ngIf="step === 1" >
      <div class="card-header">
        <h6 class="card-title">Informations Personelle</h6>
        <p class="card-text">Détails sur les informations Personelle de l'employé.</p>


      </div><!-- card-header -->
      <div class="card-body p-0">
    <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Prénom</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le prénom" [(ngModel)]="userData.userFirstName" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Nom</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le nom" [(ngModel)]="userData.userLastName" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Adresse email</h6>
          </div>
          <div class="col-md">
            <input type="email" class="form-control" placeholder="Entrez l'adresse email" [(ngModel)]="userData.email" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Civilité</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez la civilité" [(ngModel)]="userData.civility" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Date de Naissance</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez la date de naissance" [(ngModel)]="userData.dateOfBirth" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Lieu de Naissance</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le lieu de naissance" [(ngModel)]="userData.placeOfBirth" disabled>
          </div>
        </div>
      </div>

      <!-- Nationalité -->
      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Nationalité</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez la nationalité" [(ngModel)]="userData.nationality" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Genre</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le genre" [(ngModel)]="userData.gender" disabled>
          </div>
        </div>
      </div>

      <!-- CIN -->
      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">CIN</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le CIN" [(ngModel)]="userData.cin" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Date du CIN</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez la date du CIN" [(ngModel)]="userData.cinDate" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h6 class="card-text">Numéro de téléphone</h6>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Entrez le numéro de téléphone" [(ngModel)]="userData.phoneNumber" disabled>
          </div>
        </div>
      </div>
<div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="col-md-5">
        <h6 class="card-text">Adresse</h6>
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Entrez l'adresse" [(ngModel)]="userData.address" disabled>
      </div>
    </div>
  </div>

  <div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="col-md-5">
        <h6 class="card-text">Code Postal</h6>
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Entrez le code postal" [(ngModel)]="userData.codePostal" disabled>
      </div>
    </div>
  </div>

  <!-- Pays -->
  <div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="col-md-5">
        <h6 class="card-text">Pays</h6>
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Entrez le pays" [(ngModel)]="userData.pays" disabled>
      </div>
    </div>
  </div>

  <!-- Niveau d'Études -->
  <div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="col-md-5">
        <h6 class="card-text">Niveau d'Études</h6>
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Entrez le niveau d'études" [(ngModel)]="userData.niveauEtude" disabled>
      </div>
    </div>
  </div>

  <div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="col-md-5">
        <h6 class="card-text">Date du Dernier Diplôme</h6>
      </div>
      <div class="col-md">
        <input type="text" class="form-control" placeholder="Entrez la date du dernier diplôme" [(ngModel)]="userData.dateDernierDiplome" disabled>
      </div>
    </div>
  </div>
  <div class="setting-item">
    <div class="row g-2 align-items-center">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-info" (click)="openModal0()"  type="button">
          <div style="font-family: 'Times New Roman', Times, serif; color: #000;"> Modifier Employe <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>
      </div> <br>
    </div>
  </div>
      </div><!-- card-body -->


    </div><!-- card -->
    <div class="card card-settings" *ngIf="step === 2">
        <div class="card-header">

                <h6 class="card-title">Informations Administratives</h6>
                <p class="card-text">Détails sur les informations administratives de l'employé.</p>
            </div>
        <div class="card-body p-0">
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Type de Contrat</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le type de contrat" [(ngModel)]="userData.typeContrat" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Type d'Employeur</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le type d'employeur" [(ngModel)]="userData.typeEmployeur" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Date d'Entrée</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la date d'entrée" [(ngModel)]="userData.dateEntree" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Date de Recrutement</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la date de recrutement" [(ngModel)]="userData.dateRecrutement" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Date de Fin d'Essai</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la date de fin d'essai" [(ngModel)]="userData.dateFinEssai" disabled>
              </div>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-outline-info " (click)="openModalContrat()" >Modifier Contrat</button>
      </div>

<!--affaire sociale-->
<div class="card card-settings" *ngIf="step === 3">
  <div class="card-header">
    <h6 class="card-title">Affaires Sociales</h6>
    <p class="card-text">Informations relatives aux affaires sociales.</p>
    <a class="badge badge-pill bg-danger" style="margin-left: 83%;left: 70%;" (click)="Affairedetails()">Historique <i style="color: black;" class="ri-equalizer-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-equalizer-line" aria-label="ri-equalizer-line"></i> </a>
  </div><!-- card-header -->
  <div class="card-body p-0">
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Situation Familiale</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="situationFamiliale " [(ngModel)]="userData.situationFamiliale" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item" *ngIf="userData">

      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Chef de Famille (O/N)</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Chef de Famille" [(ngModel)]="userData.chefDeFamille" disabled>
        </div>
      </div>
    </div>
    <!-- Allocation Famille -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Allocation Famille (O/N)</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Allocation Famille" [(ngModel)]="userData.allocFamiliale" disabled>
        </div>
      </div>
    </div>
    <!-- Numéro Sécurité Sociale -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Numéro Sécurité Sociale</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Numéro Sécurité Sociale" [(ngModel)]="userData.securiteSociale" disabled>
        </div>
      </div>
    </div>
    <!-- Date d'Affiliation -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Date d'Affiliation</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Date d'Affiliation" [(ngModel)]="userData.affiliationLe" disabled>
        </div>
      </div>
    </div>
    <!-- Exonérée Sécurité Sociale -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Exonérée Sécurité Sociale (O/N)</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Exonérée Sécurité Sociale" [(ngModel)]="userData.exonere" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">affiliation Regime</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="affiliation Regime" [(ngModel)]="userData.affiliationRegime" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Nombre d'enfants</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="nbEnfants" [(ngModel)]="userData.nbEnfants" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Nombre d'enfants Imposables</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="nbEnfantsImposables" [(ngModel)]="userData.nbEnfantsImposables" disabled>
        </div>
      </div>
    </div>
    <!-- Nom Assurance -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Nom Assurance</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Nom Assurance" [(ngModel)]="userData.nomAssurance" disabled>
        </div>
      </div>
    </div>

    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Allocation Familiale</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="allocFamiliale" [(ngModel)]="userData.allocFamiliale" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Affiliation Assurance (O/N)</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder=" Affiliation Assurance" [(ngModel)]="userData.affiliationAssurance" disabled>
        </div>
      </div>
    </div>
    <!-- Affiliation Mutuelle -->
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Affiliation Mutuelle (O/N)</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Affiliation Mutuelle" [(ngModel)]="userData.affiliationMutuelle" disabled>
        </div>
      </div>
    </div>
   <br>
    <!-- Numéro d'Affiliation Mutuelle
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Numéro d'Affiliation Mutuelle</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Numéro d'Affiliation Mutuelle" [(ngModel)]="userData.numeroAffiliationMutuelle" disabled>
        </div>
      </div>
    </div>
    <div class="setting-item">
      <div class="row g-2 align-items-center">
        <div class="col-md-5">
          <h6 class="card-text">Date d'Affiliation Mutuelle</h6>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" placeholder="Date d'Affiliation Mutuelle" [(ngModel)]="userData.dateAffiliationMutuelle" disabled>
        </div>
  </div>
</div>  -->

</div><!-- card-body -->
<button class="btn btn-outline-info" routerLink="/add-affaire"  type="button">
  <div style="font-family: 'Times New Roman', Times, serif; color: #000;">Ajouter Affaire<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>

</div><!-- card -->


    <div class="card card-settings" *ngIf="step === 4">
        <div class="card-header">
          <h6 class="card-title">Informations Carriere</h6>

          <h3 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            Avancement
            <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i>
          </h3>          <p class="card-text">Informations sur l'Avancement de l'employé.</p>
          <a class="badge badge-pill bg-danger" style="margin-left: 83%;left: 70%;" (click)="Historiquedetails()" >Historique <i style="color: black;" class="ri-equalizer-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-equalizer-line" aria-label="ri-equalizer-line"></i> </a>

        </div>
        <div class="card-body p-0">
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Catégorie</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Catégorie" [(ngModel)]="userData.categorie" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Grade</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Grade" [(ngModel)]="userData.grade" disabled>
              </div>
            </div>
          </div>
                <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Classe</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Classe" [(ngModel)]="userData.classe" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Échelon</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Échelon" [(ngModel)]="userData.echelon" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Date de Situation</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Date de Situation" [(ngModel)]="userData.dateSituation" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-info" (click)="openModal()"  type="button">
                  <div style="font-family: 'Times New Roman', Times, serif; color: #000;"> Ajouter Avancement <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>
              </div> <br>
            </div>
          </div>
          <div class="card-header">
            <h5 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
              Fonction
              <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i>
            </h5>
            <p class="card-text">Informations sur le Fonction de l'employé.</p>

          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Fonction</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Fonction" [(ngModel)]="userData.fonction" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Date de Fonction</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Date de Fonction" [(ngModel)]="userData.dateFonction" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Structure d'Attache</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Structure d'Attache" [(ngModel)]="userData.structureAttache" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h6 class="card-text">Date d'Affectation</h6>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Date d'Affectation" [(ngModel)]="userData.dateAffectation" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
          <div class="d-grid gap-2">
            <button class="btn btn-outline-info " type="button">
               <div style="font-family: 'Times New Roman', Times, serif; color: #000;" (click)="openModal2()"> Ajouter Fonction <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>
          </div><br></div></div>
          <div class="card-header">
            <h5 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
              Titularisation
              <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i>
            </h5>            <p class="card-text">Informations sur la Titularisation de l'employé.</p>

          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">dateTitularisation</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="dateTitularisation" [(ngModel)]="userData.dateTitularisation" disabled>
              </div>
            </div>
          </div>
          <div class="setting-item">
            <div class="row g-2 align-items-center">
          <div class="d-grid gap-2">

          <button class="btn btn-outline-info " type="button">
            <div style="font-family: 'Times New Roman', Times, serif; color: #000;" (click)="openModal3()"> Ajouter Titularisation <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>


            </div> <br></div></div>

          <div class="card-header">
            <h5 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
              Departure
              <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i>
            </h5>
            <p class="card-text">Informations sur la Departure de l'employé.</p>

          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Motif de Départ</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Motif de Départ" [(ngModel)]="userData.motifDepart" disabled>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <h5 class="card-text">Date de Départ</h5>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Date de Départ" [(ngModel)]="userData.dateDepart" disabled>
              </div>
            </div>
          </div>
    <div class="setting-item">
        <div class="row g-2 align-items-center">
            <div class="col-md-5">
                <h5 class="card-text">Situation</h5>
            </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Situation" [(ngModel)]="userData.situation" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-settings" *ngIf="step === 5">
    <div class="card-header">
      <h6 class="card-title">Informations Financières</h6>
      <p class="card-text">Détails sur les informations financières de l'employé.</p>
      <a class="badge badge-pill bg-danger" style="margin-left: 83%;left: 70%;" (click)="Financieredetails()">Historique <i style="color: black;" class="ri-equalizer-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-equalizer-line" aria-label="ri-equalizer-line"></i> </a>

    </div>
    <div class="card-body p-0">
      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Grille Salaire</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Grille Salaire" [(ngModel)]="userData.grilleSalaire" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Salaire de Base</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Salaire de Base" [(ngModel)]="userData.salaireDeBase" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Mode de Paiement</h5>
          </div>
          <div class="col-md">

            <input type="text" class="form-control" placeholder="Mode de Paiement" [(ngModel)]="userData.modeDePaiement" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Numéro de Compte</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Numéro de Compte" [(ngModel)]="userData.numeroCompte" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Nom de la Banque</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Nom de la Banque" [(ngModel)]="userData.nomBanque" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Nom de l'Agence</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Nom de l'Agence" [(ngModel)]="userData.nomAgence" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Montant Assurance</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Montant Assurance" [(ngModel)]="userData.montantAssurance" disabled>
          </div>
        </div>
      </div>

      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <h5 class="card-text">Montant Mutuelle</h5>
          </div>
          <div class="col-md">
            <input type="text" class="form-control" placeholder="Montant Mutuelle" [(ngModel)]="userData.montantMutuelle" disabled>
          </div>
        </div>
      </div>
      <div class="setting-item">
        <div class="row g-2 align-items-center">
          <div class="d-grid gap-2">
            <button class="btn btn-outline-info" (click)="openModal4()"  type="button">
              <div style="font-family: 'Times New Roman', Times, serif; color: #000;"> Ajouter Financieres Employe <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></div></button>
          </div> <br>
        </div>
      </div>
    </div>
  </div>




    <div class="main-footer">
      <span>© 2024. RH Platform.</span>
    </div><!-- main-footer -->

    <div id="exampleModalToggle" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">

              <div class="modal-header">
                  <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Avancement <i class="ri-numbers-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h5>

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                      <form *ngIf="avancement" [formGroup]="avancement" (ngSubmit)="CarriereForm()">

                          <label for="categorie">Catégorie :</label>
                          <input type="text" id="categorie" class="form-control" formControlName="categorie" required> <br>

                          <label for="grade">Grade :</label>
                          <input type="text" id="grade" class="form-control" formControlName="grade" required><br>

                          <label for="classe">Classe :</label>
                          <input type="text" id="classe" class="form-control" formControlName="classe" required><br>

                          <label for="echelon">Échelon :</label>
                          <input type="text" id="echelon" class="form-control" formControlName="echelon" required><br>

                          <label for="dateSituation">Date de situation :</label>
                          <input type="date" id="dateSituation" class="form-control" formControlName="dateSituation" required><br>




              <div class="modal-footer">
                  <button type="submit" id="liveToastBtn" (click)="showToast()" class="btn btn-info mt-12">Submit</button>
 </div></form>
              </div>
          </div>
      </div>

  </div>

  <div id="exampleModalToggle2" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Fonction <i class="ri-numbers-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                    <form *ngIf="structure" [formGroup]="structure" (ngSubmit)="structureForm()">

                        <label for="categorie">fonction :</label>
                        <input type="text" id="fonction" class="form-control" formControlName="fonction" required> <br>

                        <label for="grade">Date Fonction :</label>
                        <input type="date" id="dateFonction" class="form-control" formControlName="dateFonction" required><br>

                        <label for="classe">Structure Attache :</label>
                        <input type="text" id="structureAttache" class="form-control" formControlName="structureAttache" required><br>

                        <label for="echelon">date Affectation :</label>
                        <input type="date" id="dateAffectation" class="form-control" formControlName="dateAffectation" required><br>





            <div class="modal-footer">
                <button type="submit" id="liveToastBtn" (click)="showToast()" class="btn btn-info mt-12">Submit</button>
</div></form>
            </div>
        </div>
    </div>

</div>
<div id="exampleModalToggle3" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Titularisation <i class="ri-numbers-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h5>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

                  <form *ngIf="titularisation" [formGroup]="titularisation" (ngSubmit)="titularisationForm()">



                      <label for="grade">Date de Titularisation :</label>
                      <input type="date" id="ok" class="form-control" formControlName="ok" required><br>




          <div class="modal-footer">
              <button type="submit" id="liveToastBtn" (click)="showToast()" class="btn btn-info mt-12">Submit</button>
</div></form>
          </div>
      </div>
  </div>

</div>

<div id="exampleModalToggle4" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Avancement <i class="ri-numbers-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="financieresForm" [formGroup]="financieresForm" (ngSubmit)="FinancieresForm()">

          <div class="mb-3">
            <label for="grilleSalaire" class="form-label">Grille Salaire :</label>
            <input type="text" id="grilleSalaire" class="form-control" formControlName="grilleSalaire">
          </div>
          <div class="mb-3">
            <label for="salaireBase" class="form-label">Salaire de base :</label>
            <input type="text" id="salaireBase" class="form-control" formControlName="salaireBase" required>
          </div>
          <div class="mb-3">
            <label for="modePaiement" class="form-label">Mode de paiement :</label>
            <select id="modePaiement" class="form-control" formControlName="modePaiement">
              <option value="Virement">Virement</option>
              <option value="Chèque">Chèque</option>
              <option value="Espèces">Espèces</option>
              <option value="Autre">Autre</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="numeroCompte" class="form-label">Numéro de compte :</label>
            <input type="text" id="numeroCompte" class="form-control" formControlName="numeroCompte" required>
          </div>

          <div class="mb-3">
            <label for="bankName" class="form-label">Nom de la banque :</label>
            <select formControlName="bankName" id="bankName" (change)="onBankChange($event)">
              <option *ngFor="let bank of banks" [value]="bank.name">{{ bank.name }}</option>
              <option value="addNewBank">Ajouter bank</option>
            </select>
            <div *ngIf="financieresForm.get('bankName')?.value === 'addNewBank'">
              <input type="text" class="form-control" placeholder="Enter new bank name" #newBankInput>
              <button type="button" class="container" class="btn btn-primary" (click)="updateBankName(newBankInput.value)">Save</button>
            </div>
          </div>

          <div class="mb-3">
            <label for="bankName" class="form-label">Nom de l'agence :</label>
            <select formControlName="agencyName">
              <option *ngFor="let agency of selectedBankAgencies" [value]="agency.name">{{ agency.name }}</option>
              <option value="addNewAgence">Add new Agence</option>
          </select>
            <div *ngIf="financieresForm.get('agencyName')?.value === 'addNewAgence'">
              <input type="text" class="form-control" placeholder="Enter new Agence name" #newAgenceInput>
              <button class="container" class="btn btn-primary" (click)="updateAgenceName(newAgenceInput.value)">Save</button>
            </div>


          </div>



          <div class="mb-3">
            <label for="montantAssurance" class="form-label">Montant assurance :</label>
            <input type="text" id="montantAssurance" class="form-control" formControlName="montantAssurance" required>
          </div>
          <div class="mb-3">
            <label for="montantMutuelle" class="form-label">Montant mutuelle :</label>
            <input type="text" id="montantMutuelle" class="form-control" formControlName="montantMutuelle" required>
          </div>
          <div class="modal-footer">
            <button type="submit" id="liveToastBtn" (click)="showToast()" class="btn btn-info mt-12">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>






<div id="exampleModalToggle0" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          Modifier Employé
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body p-0">
          <!-- Prénom -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Prénom</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le prénom" [(ngModel)]="userData.userFirstName">
              </div>
            </div>
          </div>

          <!-- Nom -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Nom</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le nom" [(ngModel)]="userData.userLastName">
              </div>
            </div>
          </div>

          <!-- Adresse email -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Adresse email</p>
              </div>
              <div class="col-md">
                <input type="email" class="form-control" placeholder="Entrez l'adresse email" [(ngModel)]="userData.email">
              </div>
            </div>
          </div>

          <!-- Civilité -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Civilité</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la civilité" [(ngModel)]="userData.civility">
              </div>
            </div>
          </div>

          <!-- Date de Naissance -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Date de Naissance</p>
              </div>
              <div class="col-md">
                <input type="date" class="form-control" placeholder="Entrez la date de naissance" [(ngModel)]="userData.dateOfBirth">
              </div>
            </div>
          </div>

          <!-- Lieu de Naissance -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Lieu de Naissance</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le lieu de naissance" [(ngModel)]="userData.placeOfBirth">
              </div>
            </div>
          </div>

          <!-- Nationalité -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Nationalité</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la nationalité" [(ngModel)]="userData.nationality">
              </div>
            </div>
          </div>

          <!-- Genre -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Genre</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le genre" [(ngModel)]="userData.gender">
              </div>
            </div>
          </div>

          <!-- CIN -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">CIN</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le CIN" [(ngModel)]="userData.cin">
              </div>
            </div>
          </div>

          <!-- Date du CIN -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Date du CIN</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez la date du CIN" [(ngModel)]="userData.cinDate">
              </div>
            </div>
          </div>

          <!-- Numéro de téléphone -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Numéro de téléphone</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le numéro de téléphone" [(ngModel)]="userData.phoneNumber">
              </div>
            </div>
          </div>

          <!-- Adresse -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Adresse</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez l'adresse" [(ngModel)]="userData.address">
              </div>
            </div>
          </div>

          <!-- Code Postal -->
          <div class="setting-item">
            <div class="row g-2 align-items-center">
              <div class="col-md-5">
                <p class="card-text">Code Postal</p>
              </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="Entrez le code postal" [(ngModel)]="userData.codePostal">
            </div>
          </div>
        </div>

        <!-- Pays -->
        <div class="setting-item">
          <div class="row g-2 align-items-center">
            <div class="col-md-5">
              <p class="card-text">Pays</p>
            </div>
            <div class="col-md">
              <input type="text" class="form-control" placeholder="Entrez le pays" [(ngModel)]="userData.pays">
            </div>
          </div>
        </div>

        <!-- Niveau d'Études -->
        <div class="setting-item">
          <div class="row g-2 align-items-center">
            <div class="col-md-5">
              <p class="card-text">Niveau d'Études</p>
            </div>
            <div class="col-md">
              <input type="text" class="form-control" placeholder="Entrez le niveau d'études" [(ngModel)]="userData.niveauEtude">
            </div>
          </div>
        </div>
        <div class="setting-item">
          <div class="row g-2 align-items-center">
            <div class="col-md-5">
              <p class="card-text">Mot de passe</p>
            </div>
            <div class="col-md">
              <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="userData.userPassword">
            </div>
          </div>
        </div>





            <!-- Modifier Employé Button -->
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="d-grid gap-2">
                  <button class="btn btn-outline-info" (click)="updateProfile()">
                    <div style="font-family: 'Times New Roman', Times, serif; color: #000;">
                      Modifier Employé
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<div id="ContratModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Informations Administratives <i class="ri-numbers-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card card-settings">
          <div class="card-header">
            <h6 class="card-title">Informations Administratives</h6>
            <p class="card-text">Détails sur les informations administratives de l'employé.</p>
          </div>
          <div class="card-body p-0">
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="col-md-5">
                  <h6 class="card-text">Type de Contrat</h6>
                </div>
                <div class="col-md">
                  <input type="text" class="form-control" placeholder="Entrez le type de contrat" [(ngModel)]="userData.typeContrat">
                </div>
              </div>
            </div>
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="col-md-5">
                  <h6 class="card-text">Type d'Employeur</h6>
                </div>
                <div class="col-md">
                  <input type="text" class="form-control" placeholder="Entrez le type d'employeur" [(ngModel)]="userData.typeEmployeur">
                </div>
              </div>
            </div>
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="col-md-5">
                  <h6 class="card-text">Date d'Entrée</h6>
                </div>
                <div class="col-md">
                  <input type="date" class="form-control" placeholder="Entrez la date d'entrée" [(ngModel)]="userData.dateEntree">
                </div>
              </div>
            </div>
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="col-md-5">
                  <h6 class="card-text">Date de Recrutement</h6>
                </div>
                <div class="col-md">
                  <input type="date" class="form-control" placeholder="Entrez la date de recrutement" [(ngModel)]="userData.dateRecrutement">
                </div>
              </div>
            </div>
            <div class="setting-item">
              <div class="row g-2 align-items-center">
                <div class="col-md-5">
                  <h6 class="card-text">Date de Fin d'Essai</h6>
                </div>
                <div class="col-md">
                  <input type="date" class="form-control" placeholder="Entrez la date de fin d'essai" [(ngModel)]="userData.dateFinEssai">
                </div>
                <button type="submit" class="btn btn-outline-info"  (click)="updateProfile1()">modifier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">

      <div class="toast-header">

        <strong class="me-auto text-dark">Notification</strong></div>
        <small>maintenant</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        <div class="toast-body">
          Bonjour, Le Carriere pour cet employé est enregistré avec succès.
        </div>
      </div>
     
  </div>



