<app-sidebar></app-sidebar>

<div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <ol class="breadcrumb fs-sm mb-1">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Active Employés</li>
        </ol>
        <h4 class="main-title mb-0">Voici nos employés actifs</h4>


      </div>

      <nav class="nav nav-icon nav-icon-lg">
       <button routerLink="/AjouterRH" class="btn fs-sm btn-primary" >Recruter member de RH</button>
      </nav>
    </div>
    <div class="col-12"  >
        <div class="col-4" *ngIf="AppServiceService.roleMatch(['Gerant'])">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect" [(ngModel)]="selectedRole">

                <option value="Rh"> Tous les membres RH</option>
                <option value="User"> Tous les Employees </option>
              </select>
          </div>
          <br>

        <input type="text" [(ngModel)]="searchTerm" placeholder="Search...">
        <br><br>
        <table  id="tableGrid2" class="table table-hover">
            <thead>
              <tr style="border: 20px; color: black;">
                <th> <span class="badge bg-success">Cin</span>
                </th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Nationalité</th>
                <th>Numéro de téléphone</th>
                <th>Adresse</th>
                <th>Genre</th>
                <th>Rôle</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | userFilter: searchTerm | roleFilter: searchTerm:selectedRole">

                <td> {{ user.cin }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userLastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nationality }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.role.length > 0 ? user.role[0].roleName : '-' }}</td>
             <!---   <td>
                  <button class="btn btn-outline-warning" *ngIf="!hasCarrier(user)" (click)="AddCarriere(user.cin)">
                    <i style="color: black;" class="ri-user-add-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-user-add-line" aria-label="ri-user-add-line"></i>
                    Add Carrier
                  </button>

                <svg *ngIf="hasCarrier(user)" (click)="OpenModal(user)" xmlns="http://www.w3.org/2000/svg" width="24"  color="blue" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>


              </td> --> 
                  <td>
                  <svg (click)="openModal(user)" xmlns="http://www.w3.org/2000/svg" width="24"  color="blue" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </td>
                <td *ngIf="user.role.length > 0 && user.role[0].roleName !== 'User'" >
                  <svg  (click)="ArchiverGRH(user.matricule)" xmlns="http://www.w3.org/2000/svg" width="24" color="red" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield-off"><path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18"></path><path d="M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>

                </td>
                <!-- Add more cells for enterprise details if needed -->
                <!-- Assuming there's only one role -->
                <!-- Add more cells for enterprise details if needed -->
              </tr>
            </tbody>
          </table>

      </div>
      <div id="exampleModalToggle" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Employee Details <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                      <!-- Personal Information form -->
                      <div class="row g-8">
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Nom complet </label>
                              <h5 class="form-control">{{ selectedUser?.userFirstName + '  ' + selectedUser?.userLastName }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Nationalité</label>
                              <h5 class="form-control">{{ selectedUser?.nationality }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Email</label>
                              <h5 class="form-control">{{ selectedUser?.email }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Numéro de téléphone </label>
                              <h5 class="form-control">{{ selectedUser?.phoneNumber }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Cin </label>
                              <h5 class="form-control">{{ selectedUser?.cin }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Date Cin </label>
                              <h5 class="form-control">{{ selectedUser?.cinDate }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Genre </label>
                              <h5 class="form-control">{{ selectedUser?.gender }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Civilité </label>
                              <h5 class="form-control">{{ selectedUser?.civility }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;"> Date de naissance</label>
                              <h5 class="form-control">{{ selectedUser?.dateOfBirth}}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Lieu de naissance</label>
                              <h5 class="form-control">{{ selectedUser?.placeOfBirth}}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Adresse </label>
                              <h5 class="form-control">{{ selectedUser?.address }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Localité</label>
                              <h5 class="form-control">{{ selectedUser?.pays }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Rôle</label>
                              <h5 class="form-control">{{ selectedUser?.role?.[0]?.roleName  }}</h5>
                          </div><!-- col -->
                      </div>
                  </div>
              </div>
              
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
      </div>
      <!-- Carrier Modal -->
<div id="CarrierModalToggle" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Carrier Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Carrier Information -->
        <div class="row g-3" *ngIf="carriers">
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">CIN</label>
            <h5 class="form-control">{{ carriers.cin }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Salaire</label>
            <h5 class="form-control">{{ carriers.salaire }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Categorie</label>
            <h5 class="form-control">{{ carriers.categorie }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Date d'Entree</label>
            <h5 class="form-control">{{ carriers.dateEntree  | date: 'dd-MM-yyyy'}}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Fonction</label>
            <h5 class="form-control">{{ carriers.fonction }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Grade</label>
            <h5 class="form-control">{{ carriers.grade }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Nature Diplome</label>
            <h5 class="form-control">{{ carriers.natureDiplome }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Niveau Education</label>
            <h5 class="form-control">{{ carriers.niveauEducation }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Langues Maîtrisées</label>
            <h5 class="form-control">{{ carriers.languesMaitrisees }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Expérience Professionnelle</label>
            <h5 class="form-control">{{ carriers.experienceProfessionnelle }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Compétences Spécialisées</label>
            <h5 class="form-control">{{ carriers.competencesSpecialisees }}</h5>
          </div>
          <div class="col-sm-6">
            <label class="form-label" style="color: black;">Date Départ</label>
            <h5 class="form-control">{{ carriers.dateDepart | date: 'dd-MM-yyyy' }}</h5>
          </div>
          <button type="button" (click)="UpdateCarriere( carriers.cin)" class="btn btn-danger" data-bs-dismiss="modal">Update</button>

        </div>

        <div *ngIf="!carriers">
          No carrier information available.
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





      <script>
        $(document).ready(function() {
          // Initialize DataTable with options for filtering and pagination
          $('#tableGrid2').DataTable({
            searching: true, // Enable filtering/searching
            paging: true // Enable pagination
          });
        });
      </script>

