.attestation-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attestation-title {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.attestation-date {
  text-align: center;
  margin-bottom: 20px;
}

.attestation-body {
  margin-bottom: 20px;
}

.attestation-list {
  list-style-type: none;
  padding: 0;
}

.attestation-list li {
  margin-bottom: 10px;
}

.attestation-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.attestation-signature {
  text-align: right;
}

.signature-title {
  margin-bottom: 10px;
}

.signature-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.signature-line {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.signature-text {
  font-style: italic;
}
@media print {
  /* Styles spécifiques à l'impression */
  .no-print {
    display: none; /* Cacher les éléments non pertinents à l'impression */
  }
}
.attestation-date {

 margin-left: 80%;
}
