<div class="content">
  <div *ngIf="selectedsanction" class="d-flex justify-content-center align-items-center" style="height: 50vh; overflow-y: auto;">
    <div style="width: 50%;">
      <h4 style="color:rgb(120, 21, 107); text-align:center;"><i class="fas fa-info-circle"></i> Détails d'une sanction</h4>
      <br>
      <p><b><i class="fas fa-file-pdf"></i> Sanction Type:</b> {{ selectedsanction.type }}</p>
      <p><b><i class="fas fa-file-alt"></i> Date de démission:</b> {{ selectedsanction.dateDemission  | date: 'dd/MM/yyyy'}}</p>
      <p><b><i class="fas fa-file-alt"></i> Autorité:</b> {{ selectedsanction.autorite }}</p>
      <p><b><i class="fas fa-user"></i> Description:</b> {{ selectedsanction.description }}</p>
      <p><b><i class="fas fa-user"></i> Gravité:</b> {{ selectedsanction.gravite }}</p>
      <p><b><i class="fas fa-user"></i> Durée:</b> {{ selectedsanction.duree  | date: 'dd/MM/yyyy'}}</p>
      <p><b><i class="fas fa-file-invoice-dollar"></i> Statut:</b> {{ selectedsanction.statutA }}</p>
    </div>
  </div>
</div>
