<app-header></app-header>
    <div class="content" style="margin-top: 12%;">
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-5 d-flex flex-column align-items-center">
            <h1 class="error-number">505</h1>
            <h2 class="error-title">Forbidden</h2>
            <p class="error-text">Oopps. Something is broken. We've been automatically alerted of the issue and will work to fix it asap.</p>
            <a href="../" class="btn btn-primary btn-error">Back to Dashboard</a>
          </div><!-- col -->
          <div class="col-8 col-lg-6 mb-5 mb-lg-0">
            <object type="image/svg+xml" data="assets/assets/svg/security.svg" class="w-100"></object>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- content -->
