<app-sidebar></app-sidebar>
    
    
    <div class="main main-app p-3 p-lg-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div>
            <ol class="breadcrumb fs-sm mb-1">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Inactive Entrepreneurs</li>
            </ol>
            <h4 class="main-title mb-0">This is our inactive Entrepreneurs</h4>
            

          </div>
    
          <nav class="nav nav-icon nav-icon-lg">
            <a href="" class="nav-link" data-bs-toggle="tooltip" title="Share"><i class="ri-share-line"></i></a>
            <a href="" class="nav-link" data-bs-toggle="tooltip" title="Print"><i class="ri-printer-line"></i></a>
            <a href="" class="nav-link" data-bs-toggle="tooltip" title="Report"><i class="ri-bar-chart-2-line"></i></a>
          </nav>
        </div>
        <div class="col-12">

            <input type="text" [(ngModel)]="searchTerm" placeholder="Search...">
            <br><br>
            <table  id="tableGrid2" class="table table-hover">
              <thead>
                <tr style="border: 20px; color: black;">
                  <th><span class="badge  bg-danger">CIN</span> </th>
                  <th>Prénom</th>
                    <th>Nom</th>
                    <th>Ancienne-Email</th>
                    <th>Date de naissance</th>
                    <th>Lieu de naissance</th>
                    <th>Nationalité</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Genre</th>
                    <th>Rôle</th>
                    <th>Nom _Entreprise</th>
                    <th>Action</th>

                  <!-- Add more headers for enterprise details if needed -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | userFilter: searchTerm">
                  
                  <td> {{ user.cin }}</td>
                  <td>{{ user.userFirstName }}</td>
                  <td>{{ user.userLastName }}</td>
                  <td>{{ user.private_email }}</td>
                  <td>{{ user.dateOfBirth }}</td>
                  <td>{{ user.placeOfBirth }}</td>
                  <td>{{ user.nationality }}</td>
                  <td>{{ user.phoneNumber }}</td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.role.length > 0 ? user.role[0].roleName : '-' }}</td>
                  <td>{{ user.entreprise.length > 0 ? user.entreprise[0].entrepriseName : '-' }}</td>
                
                  <td>
                    <svg (click)="openModal(user)" xmlns="http://www.w3.org/2000/svg" width="24"  color="blue" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                  </td>
                  <td>
                    <svg (click)="DerchiverGerant(user.cin)" xmlns="http://www.w3.org/2000/svg" width="24" color="red" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield-off"><path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18"></path><path d="M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>                 

                  </td>
                  <!-- Add more cells for enterprise details if needed -->
                  <!-- Assuming there's only one role -->
                  <!-- Add more cells for enterprise details if needed -->
                </tr>
              </tbody>
            </table>
      
          </div>
          <div id="exampleModalToggle" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" style="border: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Gerant Details <i class="ri-medal-line" data-bs-toggle="tooltip" title="" data-bs-original-title="ri-medal-line" aria-label="ri-medal-line"></i></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <!-- Personal Information form -->
                        <div class="row g-8">
                          <div class="col-sm-6">
                            <label class="form-label" style="color: black;"> Complet Name </label>
                            <h5 class="form-control">{{ selectedUser?.userFirstName +  '  '+ selectedUser?.userLastName }}  </h5>
                        </div><!-- col -->
                        <div class="col-sm-6">
                          <label class="form-label" style="color: black;"> Nationality</label>
                          <h5 class="form-control">{{ selectedUser?.nationality }} </h5>
                      </div><!-- col -->
                        <div class="col-sm-6">
                          <label class="form-label" style="color: black;"> Email</label>
                          <h5 class="form-control">{{ selectedUser?.email }} </h5>
                      </div><!-- col -->
                        <div class="col-sm-6">
                          <label class="form-label" style="color: black;"> Phone Number </label>
                          <h5 class="form-control">{{ selectedUser?.phoneNumber }} </h5>
                      </div><!-- col -->
                          <div class="col-sm-6">
                            <label class="form-label" style="color: black;"> Cin </label>
                            <h2 class="form-control">{{ selectedUser?.cin }} </h2>
                        </div><!-- col -->
                          <div class="col-sm-6">
                            <label class="form-label" style="color: black;"> Date Cin </label>
                            <h5 class="form-control">{{ selectedUser?.cinDate }} </h5>
                        </div><!-- col -->

                          <div class="col-sm-6">
                            <label class="form-label" style="color: black;"> Civility </label>
                            <h5 class="form-control">{{ selectedUser?.civility }} </h5>
                        </div><!-- col -->
                        
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Date of Birthday</label>
                              <h5 class="form-control">{{ selectedUser?.dateOfBirth}}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Address </label>
                              <h5 class="form-control">{{ selectedUser?.entreprise?.[0]?.adresse_Entreprise }}</h5>
                          </div><!-- col -->
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">City</label>
                              <h5 class="form-control">{{ selectedUser?.entreprise?.[0]?.ville }}</h5>
                          </div><!-- col -->
                          
                        <div class="col-sm-6">
                          <label class="form-label" style="color: black;">entreprise Name</label>
                          <h5 class="form-control">{{ selectedUser?.entreprise?.[0]?.entrepriseName }}</h5>
                      </div><!-- col -->
                      <div class="col-sm-6">
                        <label class="form-label" style="color: black;">Role</label>
                        <h5 class="form-control">{{ selectedUser?.role?.[0]?.roleName  }}</h5>
                    </div><!-- col -->
                        
                         
                        
                          <div class="col-sm-6">
                              <label class="form-label" style="color: black;">Website</label>
                              <h5 class="form-control">{{ selectedUser?.entreprise?.[0]?.site_Web }}</h5>
                          </div><!-- col -->
                         
                          <div class="col-sm-6">
                            <label class="form-label" style="color: black;"> Number of Employees </label>
                            <h5 class="form-control">{{ selectedUser?.entreprise?.[0]?.nb_Employees}} </h5>
                        </div><!-- col -->
                      </div><!-- form-row -->
                      
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
               
                    </div>
                </div>
            </div>
          </div>
    
          <script>
            $(document).ready(function() {
              // Initialize DataTable with options for filtering and pagination
              $('#tableGrid2').DataTable({
                searching: true, // Enable filtering/searching
                paging: true // Enable pagination
              });
            });
          </script>
    